$theme-color: #6600a1;
$theme-color-light: #9999cc; //steps
$page-width: 960px;
$grey: #ededed; // background
$grey-border: #c3c3c3; // checkbox
$grey-border2: #d4d4d4; // product title, product features
$green: #1ca638;